body {
  background: #f7f7f7;
  font-family: 'Segoe UI', sans-serif;
}

.container {
  max-width: 500px;
  margin: 50px auto;
  padding: 20px;
  background: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

h1 {
  text-align: center;
  color: #333;
}

.input-section {
  display: flex;
  gap: 10px;
}

.edit-section {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  align-items: center;
}

.edit-section input[type="text"] {
  flex: 1;
  padding: 10px;
  font-size: 16px;
}

.edit-btn {
  padding: 10px 20px;
  font-size: 16px;
  background: #033b69;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.2s;
}

.edit-btn:not(:last-child) {
  margin-right: 0px;
}

.edit-btn:hover {
  background: #00509e;
}

.auth-btn:hover,
button:hover {
  background: #00509e;
}

input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background: #033b69;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background 0.2s;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.todo {
  background: #eee;
  padding: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
}

.todo span {
  flex: 1;
  cursor: pointer;
}

.todo.completed span {
  text-decoration: line-through;
  color: gray;
}

.delete {
  background: transparent;
  color: red;
  font-size: 18px;
  border: none;
  cursor: pointer;
}

.empty {
  text-align: center;
  color: #aaa;
}